<div id="display-create">

@model Texter.Models.Contact

<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)
	@Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)
    @Html.LabelFor(model => model.Phone)
    @Html.TextBoxFor(model => model.Phone)
    <input type="submit" value="Create" />
}

</div>