@model Texter.Models.Message

@{
    ViewData["Title"] = "Send Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Send a new message</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.To)
    @Html.DropDownList("To")  
    <!--    @Html.LabelFor(model => model.From)
    @Html.TextBoxFor(model => model.From)-->
    <br>
    @Html.LabelFor(model => model.Body)
    @Html.EditorFor(model => model.Body, new { htmlAttributes = new { @class = "form-control"} })
    <br>
    <input type="submit" value="Send!" class="btn btn-default"/>
}

<script type="text/javascript">
  $(document).ready(function() {
    $('.groupmessage-create').click(function () {
      $.ajax({
        type: 'GET',
        dataType: 'html',
        url: '@Url.Action("SendGroupMessage")',
        success: function (result) {
          $('#result2').html(result);
        }
      });
    });
   });
</script>

<body>
    <h4 class="groupmessage-create">Create Group Message</h4>
    <div id="result2"></div>
</body>

@Html.ActionLink("Back home", "Index")