@model Texter.ViewModels.GroupMessageModel

@{
    ViewData["Title"] = "Send Message";
}

<script type="text/javascript">
	$(document).ready(function() {


	});
</script>


<h2>Send a new group message</h2>
<hr />

    @using (Html.BeginForm())
    {
        <div id="GroupSend">
            @foreach(var contact in @ViewBag.Contacts)
            {
                <input type="checkbox" id="phone" name="Contacts" value="@contact.Phone"> @contact.FullName
            }
            <br>
            @Html.LabelFor(model => model.Message.Body)
            @Html.EditorFor(model => model.Message.Body, new { htmlAttributes = new { @class = "form-control"} })
            <br>
            <button type="submit" id="GetPhone" class="btn btn-default">Send!</button>
        </div>
       
    }



@Html.ActionLink("Back home", "Index")